<section id="about" class="container content-section text-center">
	<div class="about-section">
		<div class="row">
	        <div class="col-lg-8 col-lg-offset-2">
	            <p>
	            	Her hafta yeni bir heyecan, yeni bir turnuva ile kıyasıya bir Rust deneyimine var mısın?
	            </p>
	            <p>
	            	Adil, bol aksiyonlu ve huzurlu bir oyun izlemek/izletmek ve yaşatmak istiyoruz. Bu amaçla her bir ayrıntısını ince ince düşündüğümüz ve kurallar bütünüyle garanti altına aldığımız bir serüveni vaad ediyoruz.
	            </p>
				<p>
					Kısacası bu oyunda ne kadar profesyonel olduğunu herkese kanıtlamak senin elinde.
				</p>
				<p>	
					Bu işten anlamayan sunucularda boş boş vakit geçirmektense, hem kıyasıya mücadelenin ruhunu yaşa, hem de yeterince iyiysen ödül kazanma fırsatını yakalayabilirsin.
				<p>
					Mücadele canlı olarak twich kanalımızda yayınlanacak olup, neler yaptığını da akabinde youtube kanalımızda izleyip paylaşabileceksin. Kim bilir belki ünlü bile olursun :)
				</p>
	        </div>
	    </div>
	</div>
</section>