<section id="contact" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Ana Kurallar</h2>
            <ul>
                <li>
                    Takımlar 4 oyuncudan oluşmalıdır. 
                    <br>
                    Neden: Turnuvanın seyir zevki açısından kaliteli olmasını istiyoruz.
                </li>
                <li>
                    Takımlar turnuva başlangıcında haritada belirlenen ortak noktadan aynı anda serbest bırakılacaktır.
                    <br>
                    Neden: Tüm takımların şanslarının eşit olması ve özgürlüklerini sağlamak için.
                </li>
                <li>
                    Takımlar üslerini inşaa edecekleri yerleri belirlediğinde 1x1x1 twig yapı oluşturacak ve yöneticiler tarafından bu oda metal duvarlara çevirilecektir. Bu alana konulacak bir kutu içerisine takım sembolleri ve sürpriz içerikler yerleştirilecektir.
                    <br>
                    Neden: Bir takımın elenmesinin açık şekilde tespiti ve raidi atan takımın ödüllendirilmesi hedeflenmiştir.
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>

            </ul>


            4- Turnuva sırasında şifreli kutusu kırılan takım elenecektir.
            Neden: Takımların kutularındaki bonus içerikleri kendilerinin almasını önlemek ve bir önceki maddeye destek vermek.

            5- Turnuva süresi 6 saattir. Turnuva başlangıcından itibaren ilk 1 saat barut kullanımı yasak olacaktır. Bu kuralı ihlal eden takım turnuvadan ihraç edilecektir.
            Neden: Takımların düzenli gelişmesinin önünü açmak ve aynı zamanda ruhsuz geçen başlangıç dönemini engellemek hedeflenmektedir.

            6- 6. saatin sonunda birden fazla takım sembolünü kaybetmemiş olursa, kalan takımlar turnuva boyunca elde ettikleri sembolleri ve istedikleri eşyaları üzerlerine alarak arenada savaşacaktır. Elindeki sembolleri kaybeden takım elenecektir.
            Neden:  Ne kadar sembol o kadar şans :)

            7- Raidi atan takım karşı takımın sembolünü almak veya almamak konusunda serbesttir.
            Neden: Sıcak çatışmaya girmeden, sembol ve bonus içeriklerden feragat ederek yalnızca rakip takımı eleme şansı vermek istedik.

            8- Sembol odasının duvarlarının tamiri ve/veya geliştirilmesi turnuva süresince yasaktır.
            Neden: Turnuvanın kısır döngüye girmesini engellemek istedik.

            9- Her takım turnuva tarafından açılan discord odasında iletişim kuracak, yöneticiler haricinde bu odalara giriş yapılmayacaktır.
            Neden: Rakip hakkında bilgi edinerek avantaj sağlanmanın önüne geçmek istedik. Aynı zamanda yöneticilerin takımlarla iletişimini kolaylaştırmak istedik.

            10- Turnuva sırasında rakip takımlar hakkında küfür, hakaret, sözlü saldırı, ırkçılık, dini veya milli değerlere yönelik saldırılar tespit edilmesi halinde, takım oyuncusu değil, takım turnuvadan ihraç edilir.
            Neden: Turnuvanın belirli bir seviye üzerinde sürekliliğini sağlamak istedik.

            11- Takımlar arasında turnuva sırasında iş birliği veya herhangi bir anlaşma tespit edilmesi halinde her iki takım da turnuvadan ihraç edilecektir. 
            Neden: Turnuvadan önce veya turnuva sırasında takımların birbirleriyle anlaşarak, turnuva düzeni ve gidişatını bozmalarını istemiyoruz.

            12- Ödül, kazanan takım kaptanına banka havalesi olarak gönderilecek ve dekont site üzerinden paylaşılacaktır.
            Neden: Tüm süreçlerin şeffaf ve güvenilir olması bizim için önemli.

        </div>
    </div>
</section>