<section id="qa" class="content-section text-center">
      <div class="qa-section">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Soru&Cevap</h2>
            <p class="colored-text">
                Soru: Turnuvaya nasıl kayıt olacağım?
                Cevap: Sistemimiz üzerinden kayıt olduktan sonra eğer takım kaptanıysan öncelikle takımını oluşturman ve bu takıma katılman gerekiyor. Eğer takım üyesiysen, takım liderinin oluşturduğu takımına, yine takım liderinin oluşturduğu takım şifresiyle kayıt olman gerekiyor.

                Soru: Turnuvaya katılım ücretini ne kadar?
                Cevap: Katılım ücreti, her takım üyesi için 10 TL olup, takım başına 40 TL’dir.

                Soru: Turnuvaya katılım ücretini nasıl ödeyeceğim?
                Cevap: Takım üyeleri ister ayrı, ister toplu şekilde aşağıda belirtilen hesap bilgilerine ödemeyi yapabilirler. 

                Soru ve görüşlerin için … adresinden bizimle iletişime geçebilirsin.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
