<section id="scoreboard" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Turnuva İstatistikleri</h2>
                <div class="row">
                	<div class="col-lg-5 col-xs-5">
                		Takım 1
                	</div>
                	<div class="col-lg-2 col-xs-2">
                	</div>
                	<div class="col-lg-5 col-xs-5">
                		Takım 2
                	</div>
                </div>
                <div class="row">
                	<div class="col-lg-2 col-lg-offset-5 col-xs-2 col-xs-offset-5">
                		Süre
                	</div>
                </div>
                <div class="row">
                	<div class="col-lg-5 col-xs-5">
                		Takım 3
                	</div>
                	<div class="col-lg-2 col-xs-2">
                		
                	</div>
                	<div class="col-lg-5 col-xs-5">
                		Takım 4
                	</div>
                </div>
            </div>
        </div>
    </div>
</section>